absl-py==0.12.0
astor==0.8.1
bleach==1.5.0
cached-property==1.5.2
gast==0.4.0
grpcio==1.37.0
h5py==2.10.0
html5lib==0.9999999
importlib-metadata==4.0.1
Keras==2.0.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
numpy==1.19.5
opencv-python==4.5.1.48
protobuf==3.15.8
PyYAML==5.4.1
scipy==1.5.4
six==1.15.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
Theano==1.0.5
typing-extensions==3.7.4.3
Werkzeug==1.0.1
zipp==3.4.1
